body {
  background-color: black;
  cursor: url(./assets/cursor.png), auto;
}
button {
  cursor: url(./assets/cursor-link.png), auto;
}
.modalBackground {
  cursor: url(./assets/cursor-hot.png), auto;
}


