.Cards {
    z-index: 9000;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    font-family: "Nunito", sans-serif;
  }
  
  .Cards .openModalBtn {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 6px;
    background-image: url("../assets/c3po.jpg");
    background-size: cover;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  body {
    padding: 0;
    margin: 0;
  }