.App-description {
   text-decoration: none;
}

#description p {
    font-size: 45px;
    text-align: left;
    margin: 0 auto;
    padding: 5rem;
    letter-spacing: 0.3rem;
    line-height: 4rem;
    color: #FC0;
    font-family:"Pathway Gothic One", sans-serif;
    text-shadow: rgb(8, 7, 2) 1px 0 10px;
    animation: fadeIn 25s;
   
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  